.Rproj.user
.Rhistory
.Ruserdata
.DS_Store
*.rds
data/gadm*
data/emdat/emdat_drought_events.xlsx
data/emdat/emdat_public_2023_09_25_full_legacy.xlsx
*.RData
*.jpeg
*.png
/data/relative-wealth-index-april-2021
data/Global_cropland_3km_2015.tif
data/pop/gpw_v4_population_density_rev11_2015_30s.tif
